/* General styling */
:root{
    --litcolor:#ffffff;
    --infocolor:#0DCAF0;
    --bocolor:#EDEEF0;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.hdings{
    text-align: center;
    font-family: var(--hdfont);
    font-size: 2em;
}
.pra{
    text-align: center;
    font-family: var(--pfont);
}
.df{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.m{
    margin: 40px auto;
}
.bs{
    box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Button */
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}
/* navbar styling */
.navbar{
    height: 12vh;
    width: 100%;
}
.navbar-toggler-icon{
    color: var(--infocolor);
    
}
.navbar-toggler:focus{
    outline: none;
}
.navbar-nav a{
    transition: all 1s;
    font-weight: 600;
    font-size: 1em;
    color: var(--infocolor);
}

/* landing page */
.c-item{
    height: 85vh;
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}
#other-landing{
    background: url(../img/land2.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    width: 100%;
    height: 50vh;
    margin-bottom: 120px;
}
.overlay{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
/* content styling */
p{
    font-weight: 650;
}

/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--infocolor);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--infocolor);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}

/* enjoy */
.enjoy img{
    transition: .5s;
}
.enjoy img:hover{
    transform: scale(1.1);
}

/* where destination */

.destination-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
}
.col-content{
    position: relative;
}
.col-content img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(70%);
    transition: all .3s cubic-bezier(.495, .05, .55, .95);
    will-change: filter;
}
.col-content h5{
    position: absolute;
    font-size: 22px;
    font-weight: 500;
    color: var(--litcolor);
    left: 15px;
    bottom: 35px;
}
.col-content p{
    position: absolute;
    font-size: 15px;
    color: var(--litcolor);
    left: 15px;
    bottom: 10px;
    letter-spacing: 2px;
}
.col-content img:hover{
    transform: scale(1.04);
    cursor: pointer;
}


/* contact-us styling */
.message{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}
.contact_us{
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    background-color:  var(--litcolor);
    padding: 30px;
}
.tittle{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3em;
    line-height: 48px;
    padding-bottom: 20px;
    background: var(--infocolor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form-field{
    position: relative;
    margin: 32px 0;
}
.contact-form .input-text{
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: var(--infocolor);
    font-size: 18px;
    line-height: 26px;
    font-weight: 400px;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text:focus.not-empty + .label{
    transform: translateY(-24px);
}
.contact-form .input-text:focus{
    outline: none;
}
.contact-form .label{
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400px;
    color: var(--infocolor);
    text-transform: capitalize;
    transition: transform 0.2s ease-in-out;
}
.contact-form .submit-btn{
    display: inline-block;
    background-color: var(--infocolor);
    color: var(--litcolor);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}
#contact-container{
    width: 65%;
    height: fit-content;
}
.contact-box{
    width: 32%;
    height: 150px;
    border-radius: 10px;
    background-color: white;
}
.template{
    width: 85%;
    height: fit-content;
}
.fnt{
    font-size: small;
}


/* Team */
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-item .btn {
    background: var(--litcolor);
    color: var(--infocolor);
    border-radius: 20px;
    border-bottom: 1px solid var(--infocolor);
}

.team-item .btn:hover {
    background: var(--infocolor);
    color: var(--litcolor);
}



/* responsiveness */
@media only screen and (max-width:991px){
    #contact-container{
        width: 90%;
        flex-wrap: wrap;
    }
    .contact-box{
        width: 35%;
        margin: 30px auto;
    }
    .north{
        width: 80%;
    }
   
}
@media only screen and  (max-width:767px){
    #contact-container{
        width: 90%;
    }
    .contact-box{
        width: 60%;
        margin: 30px auto;
    }
   
}

/* footer */
.footer a{
    text-decoration: none !important;
    text-align: justify;
}
